{% extends 'header.html' %}

{% block title %}
Deep Cadence Companion
{% endblock %}

{% block body %}

<link href="{{ url_for('static', path='css/about_us.css') }}" rel="stylesheet">

<div>
    <img src="{{ url_for('static', path='images/logo_full_white.png') }}" class="small-logo">
</div>
<div class="big-heading"> Development Team </div>

<div id="about-us-container">

    <div class="employee-profile">
        <img src="{{ url_for('static', path='images/josh.jpeg') }}">
        <p class="sub-heading"> Josh </p>
        <p class="website-description">
            Developer & Music Producer/Guitarist
        </p>
    </div>

    <div class="employee-profile">
        <img src="{{ url_for('static', path='images/ethan.jpeg') }}">
        <p class="sub-heading"> Ethan </p>
        <p class="website-description">
            AI Specialist & Fullstack Developer
        </p>
    </div>

    <div class="employee-profile">
        <img src="{{ url_for('static', path='images/akshat.jpeg') }}">
        <p class="sub-heading"> Akshat </p>
        <p class="website-description">
            ML Engineer & Solutions Architect
        </p>
    </div>

    <div class="employee-profile">
        <img src="{{ url_for('static', path='images/sharvil.jpeg') }}">
        <p class="sub-heading"> Sharvil </p>
        <p class="website-description">
            Frontend Developer & UI/UX Designer
        </p>
    </div>

</div>

{% endblock %}