{% extends 'header.html' %}

{% block title %}
Deep Cadence Companion
{% endblock %}

{% block body %}

<div>
    <img src="{{ url_for('static', path='images/logo_full_white.png') }}" class="small-logo">
</div>


<p class="big-heading">How It Works</p>

<p class="website-description" style="text-align: justify;">
    Discover the simplicity of crafting personalized piano sequences with our application's intuitive interface. 
    Begin by setting parameters to define mood, tempo, and complexity, then effortlessly generate and preview your unique composition. 
    Download your creation in various audio formats for seamless integration with your projects, and explore the sheet music format for deeper analysis and sharing. 
    Fine-tune and iterate until your vision is fully realized, unlocking the joy of music creation with ease.
</p>

<a href="/generate" class="help-text">Go back</a>
{% endblock %}